<div id="app">
  <header>
    <h1>Elixir Formatter</h1>
  </header>
  <div id="editors">
    <div>
      <div id="input" class="code-input"></div>
    </div>
    <div>
      <div id="output" class="code-input"></div>
    </div>
  </div>
</div>