<div id="app">
  <header>
    <h1>Elixir Formatter</h1>
    <div id="toolbox">
      <button type="button" id="copy-button">
        Copy Result
      </button>
    </div>
  </header>
  <div id="editors">
    <div>
      <div id="input" class="code-input"></div>
    </div>
    <div>
      <div id="output" class="code-input"></div>
    </div>
  </div>
</div>