@import url(https://fonts.googleapis.com/css?family=Lato:400,900|Inconsolata:400,700);
@import "~normalize.css/normalize.css";

$elixirColor: #4e2a8e;
$uiFontFamily: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$monospaceFontFamily: Inconsolata, "SF Mono", Menlo, Courier, monospace;
$mobileBreakpoint: 576px;

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: $uiFontFamily;
}

a,
a:visited,
a:active {
  color: $elixirColor;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: 20px;
  font-weight: 900;

  @media (max-width: $mobileBreakpoint) {
    font-size: 18px;
  }
}

button {
  background: white;
  border-radius: 3px;
  border: 1px solid #eee;
  font-family: $uiFontFamily;
  padding: 5px 10px;

  &:hover {
    background: #f0f0f0;
  }

  &:active {
    background: #eee;
  }
}

button.button-link {
  background: transparent;
  border: none;
  color: rgba(255, 255, 255, 0.85);
  transition: all 0.25s ease;
  padding: 0;

  &:hover {
    color: rgba(255, 255, 255, 1);
  }
}

code,
pre {
  font-family: $monospaceFontFamily;
}

.flat-list {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    float: left;

    &:not(:last-child) {
      &:after {
        display: inline;
        content: "\00b7";
        margin: 0 5px;
      }
    }
  }
}

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;

  header {
    align-items: center;
    background-color: $elixirColor;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px;

    > *:not(:last-child) {
      margin-right: 20px;
    }

    h1 .version {
      color: #eee;
      font-size: 12px;
      font-weight: normal;
    }

    #title {
      flex: 1;
    }

    @media (max-width: $mobileBreakpoint) {
      #description {
        display: none;
      }
    }
  }

  > footer {
    background-color: #eee;
    border-top: 1px solid #ccc;
    display: flex;
    font-size: 12px;
    padding: 10px;
    justify-content: space-between;
  }
}

#toolbox {
  display: flex;

  > *:not(:last-child) {
    margin-right: 20px;
  }
}

#options {
  position: relative;

  #options-window {
    background: white;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.2);
    color: black;
    display: none;
    margin-top: 5px;
    max-width: 80vw;
    padding: 20px;
    position: absolute;
    right: 0;
    top: 100%;
    width: 300px;
    z-index: 10;

    footer {
      text-align: right;
    }
  }

  h3 {
    color: #333;
    margin-bottom: 20px;
  }

  .options-list {
    list-style: none;
    margin: 0;
    padding: 0;

    code {
      display: inline-block;
      min-height: 20px;
    }

    input,
    textarea {
      border: 1px solid #ddd;
      border-radius: 3px;
      font-family: $monospaceFontFamily;
    }

    input[type="number"] {
      width: 40px;
    }

    input[type="text"] {
      width: 80px;
    }

    code + input {
      margin-left: 5px;
    }

    textarea {
      width: 100%;
    }
  }
}

#editors {
  display: flex;
  flex: 1;
  width: 100%;

  & > * {
    flex: 1;
  }

  @media (min-width: $mobileBreakpoint + 1px) {
    & > *:not(:last-child) {
      border-right: 1px solid #ccc;
    }
  }

  @media (max-width: $mobileBreakpoint) {
    flex-direction: column;

    & > *:not(:last-child) {
      border-bottom: 1px solid #ccc;
    }
  }
}
